.page1{
    width:100%;
    height:100vh;
    background-image: url(assets/Images/SpaceStones.png), url(assets/Images/stars.png), url(assets/Images/spacebg.gif);
}
.page2 , .page3{
  width:100%;
  height:100vh;
  background-image: url(), url(assets/Images/stars.png), url(assets/Images/spacebg.gif);
}

.left-div ,.right-div{
    float:left;
    width:50%;
    height:100vh;
}
.weather{
display:none;
}
.earth{
  display:none;
}
.cardz{
    margin: 10% auto;
    color: white;
    height: 50%;
    width: 90%;
}
model-viewer{
    margin:10rem auto;
    width: 90%;
    height: 70vh;
    margin: 20% auto;
    --poster-color: transparent;
}
model-viewer#reveal {
  --poster-color: transparent;
}
#Search-input{
    padding: 0px 10px 0 20px;
    margin-top: 10px;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    width: 30vw;
      border: 3px solid #555;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: auto;
      border-radius: 50px 0  0 50px !important;
  }
  .search-txt{
    font-size: 1.5rem;
  }
#title-texty{
    margin-top: 10rem;
    margin-bottom: 5%;
    /* font-family: 'Rubik', sans-serif; */
    font-size: 3vw;
}
#Search-btn
{ border:0;
  padding: 0px 10px;
  margin-top: 10px;
  color: #fff;
  background:#888;
  font-size: 1.5rem;
  font-weight: 500;
  width: 10vw;
    border: 3px solid #555;
    border-left: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
border-radius: 0 50px 50px 0 !important;
}
.card{
    border-radius: 20px;
}
#rcorners1 {
    border-radius: 5%;
    background: red;
    padding: 1.5rem;
    width: 35%;
    height: 45rem;
    /* margin-top: 7.5%; */
    margin-left: 10vw;
    box-shadow: 5px 5px 20px black;
  }

  #rcorners2 {
    font-family: 'Work Sans', sans-serif;
    border-radius: 5%;
    background:#F5F5F5;
    padding: 1.5rem;
    width: 20%;
    height: 20rem;
    margin-left: 10px;
    /* margin-top: 7.5%; */
  }
  #rcorners3{
    border-radius: 5%;
    background:#F05454;
    padding: 1.5rem;
    width: 20%;
    height: 20rem;
    /* margin-top: 7.5%; */
    margin-left: 10px;
  }
  #rcorners4{
    border-radius: 1rem;
    background:#398AB9;
    padding: 1.5rem;
    width: 41%;
    height: 7.5rem;
    margin-top: 10px;
  }
  #rcorners5{
    border-radius: 1rem;
    background:#03045E;
    padding: 1.5rem;
    width: 41%;
    height: 15rem;
    margin-top: 10px;
  }
  .color{
      color: blue;
  }
  .float-chil{
      width: 30%;
      float: left;
      margin: 10px;
  }
/* Media queries */
  @media screen and (max-width:1050px){
    .float-chil{
      width:100%;
      float: none;
    }
    #rcorners1 ,#rcorners2 ,#rcorners3 ,#rcorners4 ,#rcorners5{
      width:90%;
      margin: auto auto;
      /* margin-bottom:3%; */
      border-radius: 2rem;
    }
  }
  @media screen and (max-width:990px) and (min-width:425px){
    #Search-btn{
      font-size: 1.5rem;
    }
    .search-txt{
      font-size: 0.74em;
    }
  }
  @media screen and (max-width:800px){
    .page1{
      width:100%;
      height:100vh;
      background-image:url(assets/Images/spacebg.gif);
  }
    .left-div{
     margin-top: 0;
     float:none;
     width:100%;
    }
    .right-div{
      margin-top: 0;
      float:none;
      width:100%;
     }
    #title-texty{
      margin-top: 0;
      padding-top: 10%;
      margin-bottom: 5%;
      /* font-family: 'Rubik', sans-serif; */
      font-size: 3rem;
  }
  #Search-input{
    font-size: 150%;
    width: 70%;
  }
  #Search-btn{
    font-size: 150%;
    width: 20%;
  }
}
@media (max-width:425px){
  .page1{
    width:100%;
    height:100vh;
    background-image:url(assets/Images/spacebg.gif);
  }
  .earth{
    display:block;
  }
  body{
    width: 100vw;
    text-align: center;
  }
  .left-div{
    display: block;
    width:100vw;
   }
   .right-div{
     display: block;
     height: 50vh;
   }
   #title-texty{
    margin-top: 0;
    padding-top: 20vh;
    padding-bottom: 10vh;
    margin-bottom: 5%;
    /* font-family: 'Rubik', sans-serif; */
    font-size: 2.5rem;
}
.card{
  width: 90vw;
}
#Search-input{
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0.8rem !important;
}
#Search-btn{
  font-size: 1.5rem;
  width: 40%;
  border-radius: 0.8rem !important;
}
}

#rcorners1 ,#rcorners2 ,#rcorners3, #rcorners4, #rcorners5{
  opacity:0.4;
}

#rcorners1:hover,#rcorners2:hover,#rcorners3:hover,#rcorners4:hover,#rcorners5:hover{
  opacity:1;
  animation: bounce 8s;
  animation-iteration-count: infinite;
}



 @keyframes bounce {
     
  0%, 20%,40%,60%, 80%,100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    /* opacity: 1; */
  }
  10%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    /* opacity: 1; */

  } 30%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    /* opacity: 1; */

  }
  50%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    /* opacity: 1; */

  }
  70%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    /* opacity: 1; */

  }
  90%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    /* opacity: 1; */

  }
}
.x-button{
text-align:right;
}
.page3{
  padding-top: 4rem;
}
.page2 {
  font-family: 'Poppins', sans-serif;
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quotes {
  width: 80vw;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.quotes .box {
  position: relative;
  width: 25vw;
  height: 50vh;
  min-height: 320px;
  background: #f2f2f2;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
}

.quotes .box::before {
  content: '\201C';
  position: absolute;
  top: -20px;
  left: 5px;
  width: 100%;
  height: 100%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  pointer-events: none;
}

.quotes .box::after {
  content: '\201D';
  position: absolute;
  bottom: -10%;
  right: 5%;
  font-size: 120px;
  opacity: 0.2;
  background: transparent;
  filter: invert(1);
  pointer-events: none;
}

.quotes .box p {
  margin: 0;
  padding: 10px;
  font-size: 1.2rem;
}

.quotes .box h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 10%;
  right: 10%;
  font-size: 1.5rem;
}

.quotes .box:hover {
  color: #f2f2f2;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.quotes .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s ease-in;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.quotes .box.box1:hover,
.quotes .box.box1:hover~.bg {
  opacity: 1;
  background: black;
background: -moz-linear-gradient(-45deg, black 15%, #d8ecfb 100%);
background: -webkit-linear-gradient(-45deg, black 15%,#d8ecfb 100%);
background: linear-gradient(135deg, black 15%,#d8ecfb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
}

.quotes .box.box2:hover,
.quotes .box.box2:hover~.bg {
  opacity: 1;
  background: black;
background: -moz-linear-gradient(-45deg, black 15%, #64b4f1 100%);
background: -webkit-linear-gradient(-45deg, black 15%,#64b4f1 100%);
background: linear-gradient(135deg, black 15%,#64b4f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
}

.quotes .box.box3:hover,
.quotes .box.box3:hover~.bg {
  opacity: 1;
  background: black;
background: -moz-linear-gradient(-45deg, rgb(15, 13, 13) 15%, blue 100%);
background: -webkit-linear-gradient(-45deg, rgb(15, 13, 13) 15%,blue 100%);
background: linear-gradient(135deg, rgb(15, 13, 13) 15%,blue 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
}


